#artistImage {
	max-height: 40%;
	max-width: auto;
}

body {
	background-color: black;
}

#spotifyLogo {
	object-fit: cover;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
}

.card {
	max-height: 100%;
	min-height: 90%;
	padding-bottom: 15px;
	object-fit: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

#cardName {
	padding-top: 0px;
	padding-bottom: 20px;
	font-size: 20px;
}

#cardFollowers {
	padding-top: 5px;
	font-size: 18px;
}

#cardGenre {
	padding-bottom: 0px;
	padding-top: 5px;
	font-size: 18px;
}
